.heading{
  width: 550px;
  font-size: 30px;

}
.nameofobjects{
  color: red;
  font-size: 25px;
}
body{
  background-color: khaki;
}
#camera{
  border: 2px salmon solid;
  width:350px;
  height:300px;
}
#result_object_name,#result_object_accuracy{
  color:lavender
  
}